html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: $font-size-root;
    background-color: $color-bg1;
    color: $color-font-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-font-default;
}

