.l-right {
    float: right;
}

.l-left {
    float: left;
}

.l-background{
    width: 100%;
    @include phone{
    min-height: 100%;
    }
}


.l-BG1{
    background-color: $BG1-color;
}

.l-BG2{
    background-color: $BG2-color;;
}