@mixin button {
    background-image: linear-gradient(rgba(188, 50, 50, 0.9), $color-bg1);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.45);
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    transition: box-shadow 100ms ease-out;
    &:hover {
        background-color: green;
        box-shadow: 0 0 3rem rgba(255, 255, 255, 0.45);
    }
}

@mixin title1 {
    font-size: 72px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@mixin paragraph {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}