$color-menu-bg:  rgba(100,100,100, 0.05);

$color-bg1: rgba(202, 60, 12, 1);

$color-font-default: rgb(255, 255, 255);
$color-palette1: rgb(188, 46, 58);

$font-size-root: 16px;
$width-default: 120rem;