@import "settings";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: $font-size-root;
    background-color: $color-bg1;
    color: $color-font-default;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: $color-font-default;
}

.floatfix{
    zoom:1; /* for IE < 8 */
}
.floatfix:after {
    content:'';
    display: block;
    clear: both;
} 


/* HEADER + NAVIGATION 
    --------------------------  */

.header {
    width: 100%;
    height: 50vh;
    background: 
    linear-gradient(
        rgba(188, 50, 50, 0.25),
        $color-bg1
        ),
    url(../img/2.jpg);
    background-size: cover;
    background-position: center;

    padding-top: 1.5rem;
    &--logo{
        font-size: 2.2rem;
        font-weight: bold;
        float: left;
        padding-left: 4rem;
    }
    &--navbar{
        float: right;
        padding-right: 5rem;
        &--ul{
            &--li{
                float: left;
                padding-right: 1rem;
            }
        }
    }
    &--slogan{
        margin-left: -30vw;
        letter-spacing: 0.06em;
        margin-top: 15vh;
        font-size: 10vh;
        text-align: center;
        text-transform: uppercase;
        text-shadow: black 0 0 50px;
        line-height: 8vh;
        span {
            display: block;
            font-size: 6vh;
            text-shadow: 0 0 20px;
            line-height: 2vh;
        }
    }
}




/* MAIN CONTENT 
    -------------------------- */


/* FOOTER
    -------------------------- */