html, body {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Exo', sans-serif;
}

/* HEADER + NAVIGATION 
--------------------------  */

header{
    height: 80px;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,.95);
    z-index: 900;
}
.navbar{
    margin: 10px auto;
    margin-left: 100px;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
}
.navbar li {
    width: 200px;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 5px;
}
.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em; 
/*    font-weight:bold;*/
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
}
.navbar .dropdown2 {
    margin-left: 20px
}
.navbar .dropdown a{
    margin-top: 5px;
}
.navbar li:hover > a {
    background-color: #000;
    color: #fff;
}
.navbar li:hover a:hover{
    background-color: #fff;
    color: #000;
}
.navbar .dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
}
.navbar .dropdown li:hover{
    padding-right: 5px;
}
.navbar .dropdown2{
    display: none;
    position: absolute;
    top: 0;
    left: 185px;
    
}
.navbar li:hover .dropdown{
    display: block;
}
.navbar .dropdown li:hover .dropdown2{
    display: block;
}
/* MAIN CONTENT 
-------------------------- */

.background{
    height: 1300px;
    width: 100%;
    min-height: 500px;
    background-image: url(2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

article{
    margin: 0 10%;
    min-width: 300px;
    height:100%;
}

.section{
    box-sizing: border-box;
    padding: 5px;
    z-index: 99;
    background-color: rgba(255,255,255,.1);   
    float: right;
    margin-left: 100%;
    min-width: 300px;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.background:nth-child(3) .section{
    float: left;
    margin-left: 0;
    width: 300px;
    background: rgba(0,0,0,.1);
    margin-top: 250px;
}
.background:nth-child(4) .section{
    margin-left: 0;
    margin-right: 0;
}
.BG1 .section{
    padding-top: 100px;
}
.background.BG2{
    background: #e6e9ee;
}
.BG2 article {
    position: relative;
    
}
.BG2 section.collapsible {
    position: absolute;

    color: #fff;
    min-width: 550px;
    width: 40%;
    right: 20%;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    overflow: hidden;
    
    background:  url(untitled_by_mayasnaughtysecrets-daltp8f.jpg) center center no-repeat;
    background-size: cover;
}
.BG2 section.collapsible h1{
    background: rgba(255,255,255,.1);
    margin: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    padding: 7px 50px;
}
.BG2 section.collapsible h1.active{
    background: rgba(0,0,0,0);
    color: #fff;
    opacity: 0;
}
.BG2 section.collapsible p{
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    display: block;
    transition: all 0.6s ease-in-out;
    opacity:0;
}
.BG2 section.collapsible p.show{
    opacity: 1;
    height: 80px;
    max-height: 500px;
    padding: 40px;
}
.BG3 h2{
    float: left;
    width: 50%; 
    max-width: 400px
}
h2{
    margin: 0;
}
p{
    
    line-height: 1.4em
}

/* FOOTER
-------------------------- */

footer{
    height: 60px;
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
/*??    left:0;*/
    bottom:0;
}